<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PICO SST39SF0x0 Programmer</Name>
    <Version>1.3.1</Version>
    <Title>PICO SST39SF0x0 Programmer Installer</Title>
    <Publisher>philips-p2000t.nl</Publisher>
    <StartMenuDir>philips-p2000t.nl</StartMenuDir>
    <TargetDir>@HomeDir@/philips-p2000t.nl/pico-sst39sf0x0-programmer</TargetDir>
    <RunProgram>@TargetDir@/pico-sst39sf0x0-programmer</RunProgram>
    <RunProgramDescription>PICO SST39SF0x0 Programmer</RunProgramDescription>
</Installer>
