<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PICO SST39SF0x0 Programmer</Name>
    <Version>1.0.0</Version>
    <Title>PICO SST39SF0x0 Programmer Installer</Title>
    <Publisher>RetroZwick</Publisher>
    <StartMenuDir>RETROZWICK</StartMenuDir>
    <TargetDir>@HomeDir@/RETROZWICK/pico-sst39sf0x0-programmer</TargetDir>
    <RunProgram>@TargetDir@/pico-sst39sf0x0-programmer</RunProgram>
    <RunProgramDescription>PICO SST39SF0x0 Programmer</RunProgramDescription>
</Installer>
